.modal{

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;

    background-color:aliceblue;

}



.modal p{

    /* margin: 0;
    padding: 0; */
    font-size: medium;
    color: black;
}

.modal h2{
    color:rgb(217, 100, 139);
}