.doubtCard{

    background-color:rgb(219, 250, 240);
    height: fit-content;
    width: 25%;
    border-radius: 2%;
    padding: 1%;
    
    box-shadow: 1px 3px 5px rgb(66, 64, 64);
    

    display: flex;
    flex-direction: column;
    margin: 10px;
   
}

.doubtCard .doubtCard_navbar{
    display: flex;
    flex-direction: row;
    flex: 0.3;
    justify-content: space-around;
}

.doubtCard_navbar > *{

    margin: 0;

}

.doubtCard_footer{
    display: flex;
   
    justify-content:space-between;
}

#doubtCard_solve{
    color:palevioletred;
    transition: transform .2s;
}

#doubtCard_solve:hover{

    color:rgb(219, 95, 136);
    transition: 0.2;
    transform: scale(1.20);
}

.doubtCard_view{
    color:palevioletred;
    margin-left: 60%;
    
    
}

.doubtCard_view:hover{

    cursor: pointer;
    color:rgb(219, 95, 136);
    transition: 0.2;
    transform: scale(1.10);

}

.doubtCard_request{
    border:0;
    width: fit-content;
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 5px;
    margin: 2px;
    
    
}

.doubtCard_request:hover{

    cursor: pointer;
    background-color:rgb(219, 95, 136); ;
    

}