.signin{
	height: 100vh;
	width: 100vw;
	background-color: aliceblue;

	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}

.signin_card{

	display: flex;
	height: 50vh;
	/* background-color: aqua; */
	flex-direction: column;
	align-items: center;
	
	justify-content: flex-start;
	
	
	/* background-color: antiquewhite; */

}

.signin h2{
	
	margin-top: 15%;
	font-size: xx-large;
	font-weight: 400;
	flex: 0.9;
}

.signin_card h1{
	font: 400;
}

.signin del{

	color: red;
}

.signin_card button{

	font-size: larger;
	margin: 2%;
	border: 1px solid black;
	background-color: palevioletred;

}

.signin_card h5:hover{

	cursor: pointer;
	
}