.openDoubt{
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    
    flex-direction: row;
}

.openDoubt_body{

    display: flex;
    padding-left: 1%;
    padding-right: 0.5%;
    
}

.openDoubt_main{

    flex:0.7;
    height: 84vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;

    color: black;
    /* border: 2px solid black; */
}

.openDoubt_main_body{
    display: flex;
    flex:1;
    /* background-color: antiquewhite; */
    border: 2px solid black;
    /* overflow-y: scroll; */
    
}

.openDoubt_main_footer{
    display: flex;
    /* align-items:flex-end; */
    justify-content: center;

}

.openDoubt_main_footer .iconify-inline{
    
   
    color:rgb(44, 43, 43);
    
}

.openDoubt_rightBar{
    flex:0.3;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color:lightgray;
    color:white
}

.openDoubt_rightBar_navbar img{

    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

.openDoubt_rightBar_navbar{
    display: flex;
    /* justify-content: space-around; */
    padding-left: 5px;
    align-items: center;
    color:rgb(53, 52, 52);
    font-weight: 500;
    font-size: large;
    background-color: darkgray;
}

.openDoubt_rightBar_messages{
    display: flex;
    flex:0.98;
    
}

.openDoubt_rightBar_footer{
    display: flex;
    align-items: center;
    /* background-color: white; */
    justify-content: space-around;
}

.openDoubt_rightBar_footer .iconify-inline{
    color: rgb(41, 41, 41);
    font-weight: 100;
    
}

.openDoubt_main_header{

    /* align-self: center; */
    justify-self: center;

}

#openDoubt_send{

    width: 85%;
    border: 0;
}

.openDoubt_rightBar_footer .iconify-inline:hover{
    cursor: pointer;
    transition: 0.2;
    transform: scale(1.20);
}


