.notificationHandle{
     
    width: 100vw;
    height: 100vh;

   

    
}

.notificationHandle_head{

    height: 40%;

    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.notificationHandle_body{

    height: 30%;

    background-color: bisque;

}

.notificationHandle_footer{
    background-color: brown;

}

.notificationHandle_head_card img{

    height: 100%;
    width: 25%;
    border-radius: 5px;
}
.notificationHandle_head_card{

    /* justify-content: center; */
    /* align-self: center; */

    box-shadow: 0 2px 4px rgba(0, 0, 0);


    height: 80%;
    width: 50%;
    background-color: lightgray;
    /* padding: 10px; */





}






