.studentHome {
	position: relative;
}
.studentHome_doubtsContainer {
	flex: 1;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.studentHome_doubtsContainer::-webkit-scrollbar {
	width: 7px;
}
.studentHome_doubtsContainer::-webkit-scrollbar-thumb {
	background-color: darkgray;
}
.student__newDoubt {
	width: 100%;
	display: flex;
	justify-content: center;
}
.student__newDoubt > a {
	margin: 0.5rem 1rem;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-color: rgb(219, 95, 136);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-weight: 700;
	max-width: 200px;
	width: 100%;
}
@media screen and (max-width: 980px) {
	.studentHome_doubtsContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 720px) {
	.studentHome_doubtsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 420px) {
	.studentHome_doubtsContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}